*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 499px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: white; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4; }

.secondary-header {
  font-size: 2.5rem;
  font-weight: 900;
  color: #63687e; }

footer {
  text-align: center; }

.u-status-success {
  color: #1db489; }

.u-status-error {
  color: #dc414c; }

.u-margin-left-big {
  margin-left: 8rem; }

.u-translate-big {
  margin-top: -13rem; }

.header {
  padding: 4rem 8rem 16rem;
  display: flex;
  justify-content: space-between;
  background-color: #f5f7ff; }
  @media (max-width: 499px) {
    .header {
      padding: 4rem 2rem 12rem;
      flex-direction: column; } }
  @media (max-width: 768px) {
    .header {
      padding: 4rem 2rem 12rem; } }

@media (max-width: 499px) {
  .primary-header {
    padding-bottom: 2rem;
    border-bottom: 1px solid #63687e; } }

.primary-header__main {
  font-size: 3rem;
  font-weight: 700;
  color: #1e202a; }

.primary-header__total-followers {
  font-size: 1.4rem;
  font-weight: 700;
  color: #63687e; }

.theme-switcher {
  display: flex;
  align-items: center; }
  @media (max-width: 499px) {
    .theme-switcher {
      justify-content: space-between;
      margin-top: 2rem; } }
  .theme-switcher__title {
    margin-right: 10px;
    font-size: 1.6rem;
    color: #63687e; }
  .theme-switcher__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 5rem;
    height: 2.5rem; }
    .theme-switcher__button input {
      opacity: 0;
      width: 0;
      height: 0; }
      .theme-switcher__button input:checked + .theme-switcher__button__slider {
        background-image: linear-gradient(to right, #378fe6, #3eda82); }
      .theme-switcher__button input:checked + .theme-switcher__button__slider::before {
        transform: translateX(2.3rem); }
    .theme-switcher__button__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #aeb3cb;
      transition: all 0.4s;
      border-radius: 10rem; }
      .theme-switcher__button__slider::before {
        position: absolute;
        content: '';
        height: 1.8rem;
        width: 2rem;
        left: 4px;
        bottom: 4px;
        background-color: #f5f7ff;
        transition: all 0.4s;
        border-radius: 10rem; }

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  flex-wrap: wrap; }
  @media (max-width: 499px) {
    .card-container {
      justify-content: center;
      align-items: center;
      padding: 2rem; } }

.card {
  width: 280px;
  text-align: center;
  border-radius: 6px;
  background-color: #f0f2fa;
  display: flex; }
  @media (max-width: 499px) {
    .card {
      margin: 10px 0;
      width: 100%; } }
  @media (max-width: 768px) {
    .card {
      margin: 10px 0; } }
  .card:hover {
    cursor: pointer;
    background-color: #e5e8f6; }
  .card-social {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 2rem; }
    .card-social img {
      vertical-align: middle;
      margin-right: 5px; }
    .card-social__header {
      font-weight: 900;
      font-size: 1.3rem;
      color: #63687e; }
    .card-social__body {
      text-align: center; }
      .card-social__body h3 {
        font-weight: 900;
        font-size: 6rem;
        margin-top: 1rem;
        color: #1e202a; }
      .card-social__body p {
        font-size: 1rem;
        text-align: center;
        letter-spacing: 1.05rem;
        font-weight: 400;
        color: #63687e;
        text-transform: uppercase; }
    .card-social__footer {
      font-weight: 900;
      margin-top: 20px;
      font-size: 1.2rem; }
  .card-overview {
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2rem; }
    .card-overview img {
      vertical-align: middle;
      object-fit: none; }
    .card-overview__header, .card-overview__body {
      display: flex;
      justify-content: space-between; }
    .card-overview__header-title {
      color: #63687e;
      font-weight: 900;
      font-size: 1.3rem; }
    .card-overview__body {
      margin-top: 2rem; }
      .card-overview__body-title {
        font-size: 4rem;
        font-weight: 900; }
      .card-overview__body-status {
        font-size: 1.3rem;
        font-weight: 900;
        align-self: flex-end;
        padding-bottom: 1rem; }
  .card-facebook {
    border-top: 5px solid deepskyblue; }
  .card-twitter {
    border-top: 5px solid #1ca0f2; }
  .card-instagram {
    border: 0;
    border-top: solid 5px transparent;
    background-image: linear-gradient(#f0f2fa, #f0f2fa), linear-gradient(to right, #fdc468, #df4996);
    background-origin: border-box;
    background-clip: padding-box, border-box; }
    .card-instagram:hover {
      background-image: linear-gradient(#e5e8f6, #e5e8f6), linear-gradient(to right, #fdc468, #df4996); }
  .card-youtube {
    border-top: 5px solid #c4032a; }
