*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem; }
