.theme-switcher {
  display: flex;
  align-items: center;
  @include sm {
    justify-content: space-between;
    margin-top: 2rem;
  }
  &__title {
    margin-right: 10px;
    font-size: 1.6rem;
    color: var(--text-secondary);
  }
  &__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 5rem;
    height: 2.5rem;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .theme-switcher__button__slider {
        background: var(--color-toogle);
      }
      &:checked + .theme-switcher__button__slider::before {
        transform: translateX(2.3rem);
      }
    }
    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-toogle);
      transition: all 0.4s;
      border-radius: 10rem;
      &::before {
        position: absolute;
        content: '';
        height: 1.8rem;
        width: 2rem;
        left: 4px;
        bottom: 4px;
        background-color: var(--top-bg-pattern);
        transition: all 0.4s;
        border-radius: 10rem;
      }
    }
  }
}

.card {
  width: 280px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--bg-pattern);
  display: flex;

  @include sm {
    margin: 10px 0;
    width: 100%;
  }
  @include md {
    margin: 10px 0;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--card-hover);
  }
  &-social {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 2rem;
    img {
      vertical-align: middle;
      margin-right: 5px;
    }
    &__header {
      font-weight: 900;
      font-size: 1.3rem;
      color: var(--text-primary);
    }
    &__body {
      text-align: center;
      h3 {
        font-weight: 900;
        font-size: 6rem;
        margin-top: 1rem;
        color: var(--text-secondary);
      }
      p {
        font-size: 1rem;
        text-align: center;
        letter-spacing: 1.05rem;
        font-weight: 400;
        color: var(--text-primary);
        text-transform: uppercase;
      }
    }
    &__footer {
      font-weight: 900;
      margin-top: 20px;
      font-size: 1.2rem;
    }
  }
  &-overview {
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2rem;
    img {
      vertical-align: middle;
      object-fit: none;
    }
    &__header,
    &__body {
      display: flex;
      justify-content: space-between;
    }
    &__header {
      &-title {
        color: var(--text-primary);
        font-weight: 900;
        font-size: 1.3rem;
      }
    }
    &__body {
      margin-top: 2rem;
      &-title {
        font-size: 4rem;
        font-weight: 900;
        color: var(--text-secondary);
      }
      &-status {
        font-size: 1.3rem;
        font-weight: 900;
        align-self: flex-end;
        padding-bottom: 1rem;
      }
    }
  }
  &-facebook {
    @include social-border($color-facebook);
  }
  &-twitter {
    @include social-border($color-twitter);
  }
  &-instagram {
    border: 0;
    border-top: solid 5px transparent;
    background-image: linear-gradient(var(--bg-pattern), var(--bg-pattern)),
      $color-instagram;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    &:hover {
      background-image: linear-gradient(var(--card-hover), var(--card-hover)),
        $color-instagram;
    }
  }
  &-youtube {
    @include social-border($color-youtube);
  }
}
