.header {
  padding: 4rem 8rem 16rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--top-bg-pattern);
  @include sm {
    padding: 4rem 2rem 12rem;
    flex-direction: column;
  }
  @include md {
    padding: 4rem 2rem 12rem;
  }
}

.primary-header {
  @include sm {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--text-primary);
  }
  &__main {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-secondary);
  }
  &__total-followers {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-primary);
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  flex-wrap: wrap;
  @include sm {
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}

.footer {
  padding: 2rem;
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      background-image: $color-instagram;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: background-image 0.8s ease-in;
    }
    &:hover {
      background-image: $color-instagram-inverse;
    }
  }
}
