.theme-switcher {
  display: flex;
  align-items: center;
  @include sm {
    justify-content: space-between;
    margin-top: 2rem;
  }
  &__title {
    margin-right: 10px;
    font-size: 1.6rem;
    color: $color-light-text-saturated-blue;
  }
  &__button {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .theme-switcher__button__slider {
        background-image: $color-toggle-dark;
      }
      &:checked + .theme-switcher__button__slider::before {
        transform: translateX(2.3rem);
      }
    }
    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-toggle-light;
      transition: all 0.4s;
      border-radius: 10rem;
      &::before {
        position: absolute;
        content: '';
        height: 1.8rem;
        width: 2rem;
        left: 4px;
        bottom: 4px;
        background-color: $color-top-bg-light-pattern;
        transition: all 0.4s;
        border-radius: 10rem;
      }
    }
  }
}
