body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
.secondary-header {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--text-secondary);
}
footer {
  text-align: center;
}
