// Primary Color
$color-lime-green: hsl(163, 72%, 41%);
$color-bright-red: hsl(356, 69%, 56%);

$color-facebook: hsl(195, 100%, 50%);
$color-twitter: hsl(203, 89%, 53%);
$color-instagram: linear-gradient(
  to right,
  hsl(37, 97%, 70%),
  hsl(329, 70%, 58%)
);
$color-youtube: hsl(348, 97%, 39%);

// Dark Theme Toggle

$color-toggle-dark: linear-gradient(
  to right,
  hsl(210, 78%, 56%),
  hsl(146, 68%, 55%)
);

//Light Theme Toggle

$color-toggle-light: hsl(230, 22%, 74%);

// Neutral

// Dark Theme

$color-bg-dark: hsl(230, 17%, 14%);
$color-top-bg-dark-pattern: hsl(232, 19%, 15%);
$color-card-bg-dark-pattern: hsl(228, 28%, 20%);
$color-dark-text-blue: hsl(228, 34%, 66%);
$color-dark-text-white: hsl(0, 0%, 100%);

// Light Theme

$color-bg-light: hsl(0, 0%, 100%);
$color-top-bg-light-pattern: hsl(225, 100%, 98%);
$color-card-bg-light-pattern: hsl(227, 47%, 96%);
$color-light-text-saturated-blue: hsl(228, 12%, 44%);
$color-light-text-dark-blue: hsl(230, 17%, 14%);

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 499px;
